body{
    text-align: center;
    margin-top: 100px;
    background-image: url("images/97897897.jpg");
    background-size: 100%;
    color: aliceblue;
    font-size: x-large;
}

.qrcode{
    margin-top:50px;

}